.inputGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(40px, auto);
  width: 400px;
  max-width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: bold;
  }
}
